 <div class="user">
  	<div class="user-info">
	  	<div class="user-name"><%= user.name %></div>
	  	<img class-"user-image" src="/images/ears.jpeg"/>
  	</div>
  	<div class="medications">
  	</div>
</div>