<div class="content_wrapper">
<div class="user" id="form_wrapper">
	<div class="user-info">
		<div class="user-name"><p> Add New Prescription </p></div>
	</div>
	<div class="add_pat" id="add_patient medications">
		<form action="/add_prescription" method="POST" enctype="multipart/form-data" id="new_user">
			<p>Doctor  
			<input type="text" name="prescribed_by" id="new_prescription[prescribed_by]" value="" placeholder="doctor's name"> 
			says I need to take  
			<select type="text" name="number" id="new_prescription[number]">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
			</select>  
			dose(s) of  
			<input type="text" name="medication" id="new_prescription[medication]" value="" placeholder="medication name"> 
			every 
			<input type="text" name="hours" id="new_prescription[hours]" value="" placeholder="number of hours">
			hours, for my 
			<input type="text" name="condition" id="new_prescription[condition]" value="" placeholder="condition">.</p>
			
			<p>The basic information reguarding my medication is  
			<input type="text" name="basic_info" id="new_prescription[basic_info]" value="" placeholder="information" class="long"> <br>
			and the side effects are
			<input type="text" name="side_effects" id="new_prescription[side_effects]" value="" placeholder="side effects" class="long">.</p>
			
			<p>All warnings and issues I should be aware of reguarding my medication are 
			<input type="text" name="warnings" id="new_prescription[warnings]" value="" placeholder="warnings">.</p>
			
			<p>My user name is
			<input type="text" name="username" id="new_prescription[username]" value="<%= @user %>"></p>
			
			<input type="submit">
		</form>
	</div>
</div>
</div>
