<div id="form_wrapper">
	<h1> Add New User </h1>
	<div id="add_patient">
		<form action="/add_prescription" method="POST" enctype="multipart/form-data" id="new_user">
			<p> Doctor: </p> 
			<input type="text" name="prescribed_by" id="new_prescription[prescribed_by]"> 
			<p> says I need to take </p> 
			<select type="text" name="number" id="new_prescription[number]">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
			</select>  
			<p> medication </p> 
			<input type="text" name="medication" id="new_prescription[medication]"> 
			<p> every </p> 
			<input type="text" name="hours" id="new_prescription[hours]">
			<p> hours </p> 
			<p> for my </p>
			<input type="text" name="condition" id="new_prescription[condition]"> 
			<p> basic info </p> 
			<input type="text" name="basic_info" id="new_prescription[basic_info]">  
			<p> side effects </p> 
			<input type="text" name="side_effects" id="new_prescription[side_effects]" > 
			<p> warnings </p> 
			<input type="text" name="warnings" id="new_prescription[warnings]"> 
			<input type="text" name="username" id="new_prescription[username]" value="<%= @user %>"> 
			<input type="submit">
		</form>
	</div>
</div>	
