<% @users.each do |user| %>
  <div class="user">
  	<div><%= user.name %></div>
  	<img src="<%= user.photo %>" />
  </div>
  <div class="medications">
<!--   	<% meds.each do |med| %>
		
	<% end %>  	 -->
  </div>
<% end %>
