<!DOCTYPE html>

<html>
  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" href="styles/styles.css"/>
    <link rel="stylesheet" href="styles/<%= @style %>.css"/>
  </head>
  <body>
    <%= yield %>
  </body>
  <script type="text/javascript" src="javascripts/<%= @js %>.js"></script>
</html>