<!DOCTYPE html>

<html>
  <head>
    <title><%= @title %></title>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script src="/javascripts/scrollsync.js" type="text/javascript"></script>
    <script src="/javascripts/scrollable.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/styles/styles.css"/>
    <link rel="stylesheet" href="/styles/<%= @style %>.css"/>
  </head>
  <body>
      <%= yield %>
  </body>
  <script type="text/javascript" src="/javascripts/<%= @js %>.js"></script>
</html>