<div id="content_wrapper">
	<div id="form_wrapper">
		<h1> Add New User </h1>
		<div id="add_patient">
			<form action="/signup" method="POST" enctype="multipart/form-data" id="new_user">
				<p> username: </p> 
				<input type="text" name="username" id="new_user[username]" value="Haus"> 
				<p> password: </p>
				<input type="text" name="password" id="new_user[password]" value="password"> 
				<p> name: </p> 
				<input type="text" name="name" id="new_user[name]" value="Mr. Haus"> 
				<p> age: </p> 
				<input type="text" name="age" id="new_user[age]" value="100">
				<p> personal description: </p> 
				<input type="text" name="description" id="new_user[description]" value="super cool guy"> 
				<p> affiliations (spouse, etc.): </p> 
				<input type="text" name="affiliation" id="new_user[affiliations]" value="1">  
<!-- 				<p> pharmacist_id: </p> 
				<input type="text" name="pharmacist_id" id="new_user[pharmacist_id]" value="1"> -->
				<input type="submit">
			</form>
		</div>
	</div>	
</div>
