<% @patients.each do |patient| %>
  <div class="patient">
  	<div><%= patient.name %></div>
  	<img src="<%= patient.photo %>" />
  </div>
  <div class="medications">
<!--   	<% meds.each do |med| %>
		
	<% end %>  	 -->
  </div>
<% end %>